@model LuckyPaw.Models.LoginModel

@{
    ViewData["Title"] = "Log Out";

}

<h1>Log Out</h1>

<hr />
<div class="row">
    <div class="col-md-12">
     <h1>You have logged out successfully. Hope you would come back next time!</h1>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
